*{
    margin:0px;
    border:0px;
    padding:0px;
}
body{
    background-color:rgb(69, 5, 71)
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    background-color:rgb(105, 8, 105);
    color:white;
}
.navbar-right{
    color:white;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.items{
    color:#ffff;
    padding:10px;
    font-size:20px;
}
.home{
    color:#ffff;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top:150px;
    height:50vh;
}
.home-left{
    padding-left:20px;
}
.image{
    width:200px;
    height:200px;
    border-radius:50%;
    padding-right:20px;
}
.home-p{
    font-size:40px;
}
.skills{
    color:white;
    padding:10px;
    font-size: 30px;
}
.skill-heading{
    text-align: center;
}
.skills-list{
    color:white;
    padding:5px;
    font-size:20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.s-1{
    width:6s00px;
    padding:50px;
    margin:30px;
    border:5px solid grey;
}
.skill-h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.s-p{
    padding-top:30px;
}
.projects{
    color:#ffff;
    padding:5px;
    font-size: 30px;
}
.projects-h1{
    text-align:center;
}
.list-items{
    color:white;
    padding-left:120px;
    padding-top:50px;

}
.contact{
    color:white;
    text-align:center;
    padding:5px;
}
.contact-details{
    padding:15px;
}
.con-heading{
    font-size:40px; 
}
